.providers {
  column-count: 1;
  list-style-type: none;
  padding: 0;
}

h2 {
  color: #383839;
}

@media (min-width: 640px) {
  .providers {
    column-count: 2;
  }
}

@media (min-width: 1080px) {
  .providers {
    column-count: 3;
  }
}

.providers > li {
  display: inline-block;
  justify-self: center;
  cursor: pointer;
  position: relative;
  width: 90%;
  padding: 1em;
  color: #383839;
}

.providers > li:nth-child(odd) {
  background: #eff0f0;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
}

.providerSearch {
  padding: 0.5em;
  border: 1px solid #c2c3c4;
  margin-right: 1em;
  color: #383839;
}

.sortDirection {
  border: 1px solid #c2c3c4;
  padding: 0.5em;
  border-radius: 2px;
  margin-right: 0.5em;
}

.sortDirection > select {
  outline: 0px;
  border: 0px;
  background-color: #fff;
  color: #383839;
}
