<h2>Select providers</h2>

<section id="searchBar" class="searchBar" role="search">
  <input
    class="providerSearch"
    type="text"
    placeholder="Search"
    [(ngModel)]="providerTitle"
    aria-label="Search for a provider"
  />
  <div class="sortDirection">
    <select
      [(ngModel)]="sortDirection"
      aria-label="toggle sort direction"
      (change)="onSortDirectionChange(sortDirection)"
      [value]="sortDirection"
    >
      <option value="ascending">View A-Z</option>
      <option value="descending">View Z-A</option>
    </select>
  </div>
</section>

<section id="selectedProviders">
  <ul class="selectedProviders">
    <li
      class="selectedProvider"
      *ngFor="let selectedProvider of selectedProviders"
    >
      <button
        class="removeProvider"
        (click)="removeProvider(selectedProvider)"
        [attr.aria-label]="'Remove provider ' + selectedProvider.title"
      >
        {{ selectedProvider.title }}
      </button>
    </li>
  </ul>
</section>

<section id="providerList">
  <ul class="providers">
    <li
      *ngFor="
        let provider of providers
          | filter: providerTitle:'title'
          | sort: ['title', sortDirection]
      "
    >
      <label class="provider">
        <input
          class="visuallyHidden"
          type="checkbox"
          id="{{ provider.id }}"
          (change)="addOrRemoveProviders(provider)"
          [checked]="provider.selected"
        />
        <span class="customCheckbox"></span>
        {{ provider.title | titlecase }}
      </label>
    </li>
  </ul>
</section>
